# Python virtual environments
.venv/
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variable files
.env
.env.*

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Log or temporary files
*.log
*.tmp
*.bak
